!!!
%html{lang: "en"}
  %head
    %title wakepoint
    %link{href: "wakepoint.css", media: "all", rel: "stylesheet", type: "text/css"}
  %body
    .sun_wrapper
      .sun
    .nav_wrapper
      %nav
        %div
          %h1.show_main
            wakepoint
            %br
            %small.streak_count
        %a.show_main Check In
        %a.show_stats Statistics
        %a.show_settings Settings
    .wrapper
      %section.main
        .state.checkin
          %h2 Good morning!
          %p It's time to check in!
          %button.goal I'm awake.
        .state.early
          %h2 You are early.
          %p Go back to bed.
        .state.late
          %h2 You've slept in again.
          %p Let's try again tomorrow!
        .state.winner
          %h2 Great job!
          %p You woke up on time today.
          %img.prespin{src: "images/trophy.gif"}
        .state.firstday
          %h2 Hi there, Champ!
          %p Today's your first day of a long streak of early rising!
          %p
            Check back in tomorrow at
            %span.target_time
            to keep your streak going strong!

      %section.stats
        %h2 Streak
        %h3.streak_count
        %ul.events

      %section.settings
        %h2 Settings
        %label I'd like to wake up at:
        %input.target_time{type: "text"}
        %br
        %button.save Save
    %script{src: "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"}
    %script{src: "wakepoint.js", type: "text/javascript"}
